.wrapper-author
    .header-author
        .bio
            .desc
                h3 about me
                p test msg test msg test msg test msg test msg test msg test msg test msg
        .avatar-container
            img.avatar(src="http://www.croop.cl/UI/twitter/images/carl.jpg" alt="avatar")
    .content-author NAME

