.wrapper-comments
    .comment-block
        img.comment-image(src='https://goo.gl/3EPtHQ')
        .comment-dialog
            h4.username Tatiana Oliveira
            p.text Lorem ipsum dolor sit amet!
    .comment-block
        img.comment-image(src='https://goo.gl/3EPtHQ')
        .comment-dialog
            h4.username Tatiana Oliveira
            p.text Lorem ipsum dolor sit amet!
