.wrapper-subcribe
    .header-subcribe
        h1 Subscribe
        p coming soon to your inbox
    .footer-subcribe
        form
            input(type="text" placeholder="Enter your name")
            input(type="email" placeholder="Enter your email here")
        button.btn-submit(type="submit") submit
