$grey: #5a5c63;
$white: #fff;
$light-blue: #2dadc5;

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 20px 0;
}

.tag {
  margin: 4px;
  padding: 8px 11px;
  border-radius: 4px;
  border: solid 1px rgba(39, 45, 85, 0.2);
  font-size: 14px;
  text-transform: capitalize;
  color: $grey;
  background-color: $white;
  cursor: pointer;

  &.selected {
    color: $white;
    background-color: $light-blue;
  }
}